body {
  background-color: #fff;
  padding: 5px;
  margin: 0; }

body p ol ul td {
  font-family: verdana, sans-serif;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #333; }

a:visited {
  color: #666; }

a:hover {
  color: #000;
   }
	
#events {
  margin-left: 20px; }
	#events .expired a {
		color: #afafaf;
		text-decoration: line-through; }
  #events .fresh .summary {    
    font-family: Verdana;
    font-size: 12px;
		text-decoration: underline;		}
  #events .fresh .category {
    font-family: Verdana;
    font-size: 10px;
    color: #13A7C1; }
  #events .fresh .dtstart {
    font-family: Verdana;
    font-size: 10px;
    color: #000; }
  #events td {
    padding-bottom: 1px;
    border: 0; }
	#events .expired .summary, .expired .category,.expired  .dtstart {
		color:#afafaf;
		text-decoration: line-through;
		font-family: Verdana;
		font-size: 10px; }	
	#events .expired .summary {
		font-size: 12px; }
	

h1 {
  font-family: verdana;
  font-size: 18px;
  font-style: normal;
  color: #55412D;
  line-height: 16px;
  margin-bottom: 4px; }

.seperator_more {
  height: 3px;
  width: 450px;
  background-color: #998D81; }

.seperator_less {
  height: 3px;
  width: 240px;
  background-color: #998D81; }

.even {
  background-color: #FBFBFB; }

.odd {
  background-color: #fff; }

.map {
  margin-top: 5px;
  margin-left: 20px; }
	
.create_event {
	font-weight:bold;
	font-size: 1.1em;
	margin-left:20%;
}

.date_select {
  margin: 0;
  padding: 0; }

.new_event {
  font-family: verdana;
  font-size: 12px;
}

.edit_event {
  font-family: verdana;
  font-size: 12px;
}

.new_event input{
  border: 1px solid #afafaf;
  }
  
.edit_event input{
  border: 1px solid #afafaf;
  }
  