%h1
  =image_tag("date.png", :border=>0)
  Showing
  #event_title= "\'" + @event.name + "\'"
  
.seperator_more

%div.vevent
  %p
    %b Name:
    %span.summary
      =h @event.name
    
  %p
    %b Type:
    %span.category
      =h @event.event_type
    
  %p
    %b Website:
    %span.url
      =h @event.website

  %p
    %b Description:
    %span.description
      =h @event.description

  %p
    %b Location:
    %span.location
      =h @event.location

  %p
    %b Starts:
    %span.dtstart
      =h @event.event_date
    
  %p
    %b Ends:
    %span.dtend
      =h @event.end_date
      
  - unless @event.price == ""
    %p
      %b Price:
      %span.price
        =h @event.price



= link_to 'Edit', edit_event_path(@event)
|
= link_to 'Back', events_path
